
  .header__logo{
    display: inline-block;
    padding-top: 24px;
  padding-bottom: 24px;
    margin: 0px 93px 0px 0px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
  font-size:26px;
  line-height: 1.19;
  color: var(--black);
   }
   
   .logo-header{
     font-family: 'Raleway',sans-serif;
     font-weight: 700;
   font-size: 26px;
   line-height:1.19;
   color: var(--blue);
   letter-spacing: 0.03em;
   }